* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen";
  box-sizing: border-box;
}

:root {
  --color-blue: #1474b4;
  --color-white: #ffffff;
  --color-background: #030207;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
}

a {
  color: var(--color-blue);
}

.hero {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background));
}

.hero__background {
  top: 0;
  width: 100%;
  z-index: -10;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.hero__foreground {
  padding-top: 40vh;
  text-align: center;
  color: var(--color-white);
}

.hero__title {
  font-size: 5rem;
  font-weight: 300;
}

.hero__text {
  margin-top: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.section {
  padding: 0 8rem;
  overflow: hidden;
  text-align: center;
}

.section__title {
  font-size: 3rem;
  margin: 4rem auto;
  font-weight: 300;
}

.section__img,
.section__img-inline {
  width: 100%;
  object-fit: cover;
  max-height: 30rem;
  position: relative;
  object-position: top;
  border-radius: 0.75rem;
  box-shadow: 0 1rem -0.5rem rgba(20, 116, 180, 0.25);
}

.section__text,
.section__text-inline {
  line-height: 1.75;
  margin: 4rem auto;
  font-size: 1.25rem;
}

.section__img-inline {
  float: left;
  width: 20rem;
  height: 25rem;
  margin: 0 4rem 2rem 0;
  border-top-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.section__text-inline {
  text-align: left;
  margin-top: 9rem;
}

.section__text-inline > p {
  margin-top: 1.5rem;
}

#hangouts img {
  object-position: center;
}

.gallery__img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.75rem;
  transform: rotate(-2deg);
}

.gallery__img-wrapper + .gallery__img-wrapper {
  margin: 1rem 0 0 1rem;
}

/* .gallery__img-wrapper:nth-child(even) > .gallery__img {
  transform: rotate(2deg);
} */

.footer {
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
}
